//
// About us Page style
// --------------------------------------------------

/**About us Page**/
.top-black-bg{
	padding:72px 0 0 0;
	background:$black;
} 

.about-inner-pan{
	background:url(#{$imageUrl}/about-us-bg.jpg) repeat; 
	
	.heading03{
		color:$white-color;
		span{
			&:after{
				background:$white-color;
			}
		}
	}
}

.inner-top-gap{
	min-height:100vh;
	padding:120px 0 150px;
	
} 

.heading03{
	color:$black;
	margin:0 -15px 62px;
	font-size: ceil(($font-size-base * 3.5));
	font-weight:300;
	text-align:center;
	overflow-x:hidden;
	
	span{
		display:inline-block;
		padding:0 30px;	
		position:relative;
		
		&:after{
			content:"";
			width:3000px;
			height:1px;
			top:50%;
			left:100%;
			background:rgba($black,.36);
			position:absolute;
		}
		
		&:before{
			@extend :after;
			left:inherit;
			right:100%;
		}
	}
}

.team-image-box{
	background:$white-color;
	padding:14px 14px 12px;
	margin:0 0 18px;
	text-align:center;
	@include box-shadow(0 0 12px 1px rgba($black,.5));
	
	img{
		width:100%;
		margin:0 0 12px;
	}
	
	figcaption{
		font-size: ceil(($font-size-base * 1.7));
		color:lighten($black, 22%);
		text-transform:uppercase;
		
		span{
			color:lighten($black, 58%);
		}
	}
}

.team-detail-text{
	font-size: ceil(($font-size-base * 1.2));
	color:$white-color;
	border:none;
	text-align:center;
	padding:0;
	line-height:1.8;
}


/**About us Page End**/


