//
// App Download  Page style
// --------------------------------------------------

/**App Download Page**/
.app-download-inner{
	min-height:inherit;
	background:url(#{$imageUrl}/app-bg.jpg) no-repeat center top; 
	background-size:cover;
	
}

.heading04{
	font-size: ceil(($font-size-base * 2.1));
	font-weight:700;
	color:$red;
	margin:0 0 15px;
	
	span{
		position:relative;
		
		sup{
			position:absolute;
			top:-7px;
			right:-5px;
		}
	}
}

.app-text-pan{
	padding:0;
	margin:0 70px 50px 0;
	
	p{
		font-size: ceil(($font-size-base * 1.7));
		color:$black;
	}
}

.app-download-list{
	margin:0 0 130px 70px;
	padding:0;

	
	li{
		display:inline-block;
		padding:0 2px;
		
		a{
			display:block;
			text-decoration:none;
			
			&:hover,
			focus{
				outline:none;
			}
		}
	}
}

.device-pic{
	margin:-30px 0 130px -120px;
}

.copyright-text{
	display:block;
	text-align:center;
	color:lighten($black, 48%);
	margin:0 0 60px;
}


/**App Download Page End**/


