//
// Banner
// --------------------------------------------------
/**Banner Part**/
html,
body {
    height: 100%;
}
.slider-container{
	height: 100%;
	.slider-part,
	.item,
	.owl-wrapper,
	.owl-item,
	.owl-wrapper-outer{
		height: 100%;
		&.active {
			height: 100%;
		}
	}
	
}


/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-caption01 {
    color: #fff;
    left: 4%;
    margin-top: 41%;
    position: relative;
    right: 4%;
    text-align: center;
}
.banner-heading01{
	font-size: ceil(($font-size-base * 12.8));
	font-weight:700;
	text-transform:uppercase;
	margin:0;
	line-height:1.1;
}
.banner-text-01{
	font-size: ceil(($font-size-base * 2.8));
	display:block;
	margin:0;
}

.carousel-caption02{
	color: #fff;
    left: 4%;
    position: relative;
    right: 4%;
    text-align: center;
	margin-top:18%;
}

.banner-heading02{
	font-size: ceil(($font-size-base * 4.2));
	font-weight:400;
	margin:0 9% 30px;
	text-align:left;
	line-height:1;
	
	big{
		display:block;
		font-size: ceil(($font-size-base * 8.7));
		font-weight:700;
		margin:0 0 0 18%;
		text-transform:uppercase;
		
		
	}
	
	span{
		display:block;
		font-size: ceil(($font-size-base * 3));
		text-align:center;
		margin:-10px 11% 0 18%;
		line-height:1.2;
		
		mark{
			background:none;
			color:$red;
		}
	}
}

.banner-heading03{
    border: 1px solid $white-color;
    display: inline-block;
    font-size: ceil(($font-size-base * 5));
    font-weight: 400;
    margin: 0 0 52px;
    min-width: 70%;
    padding: 17px 25px;
}

.banner-text-02{
	font-size: ceil(($font-size-base * 2.4));
	display:block;
	line-height:1.25;
}

.bottom-arrow-button{
	@include text-hide();
	width:67px;
	height:67px;
	position:absolute;
	bottom:50px;
	left:50%;
	margin:0 0 0 -33px;
	border-radius:50%;
	@include transition(all .2s ease-in-out);
	background:rgba($white-color,.5) url(#{$imageUrl}/sprite.png) no-repeat -30px 30px;
	
	&:hover,
	&:focus{
		outline:none;
		background-color:rgba($white-color,.7);
	}
}


/**Banner Part End**/















