//
// Button
// --------------------------------------------------
.btn{
	color:$white-color;
	border:none;
	border-radius:0;
	padding:8px 25px;
	border-color:lighten($black, 63%);
	font-size: ceil(($font-size-base * 1.14));
	font-weight:bold;
	min-width:100px;
	display:block;
}
.btn-default{
	@include bgColor($red);
	margin:0 auto 20px;
	
	&:hover{
		color:$white-color;
	}
}



//Responsive part

@media (max-width: $screen-xs-max) {
	.btn{
		
		&.signup-btn{
			font-size: ceil(($font-size-base * 1.28));
			min-width:160px;
		}
	}

	
	

}






