//
// Form
// --------------------------------------------------
.form-control{
	height: 36px;
	color: lighten($black, 34%);
	border-color:lighten($black, 77%);
	margin:0 0 20px 0;
	border-radius:0;
	@include placeholder(lighten($black, 34%));
	position:relative;
	font-size: ceil(($font-size-base * 1.05));
	@include box-shadow(inset 0 1px 1px 0 rgba($black,.2));
	font-weight:300;
	border-radius:2px;
	
	&:focus{
		@include box-shadow(inset 0 1px 1px 0 rgba($black,.2));
		border-color:lighten($black, 77%);
	}
	  
}


//Error
.error-message{
	display:block;
	color:$red;
	font-size: ceil(($font-size-base * .85));
	font-style:italic;
	font-weight:400;
	text-align:right;
	margin:-21px 0 3px;
}












