//
// Global style
// --------------------------------------------------

/**Global Style**/
body {
  background: $white-color;
  font-size: $font-size-base;
  font-family: $primary-font;
  line-height: ($line-height-large * 1.1);
  color:lighten($black, 73%);
}

h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5, 
h6, .h6{
	font-family:$primary-font;
	line-height:1.2;
} 

hr{
	border-color:lighten($black, 75%);
	margin-left:10px;
	margin-right:10px;
}


p{
	margin-bottom:20px;
}


img{
	max-width:100%;
}


/**Global End**/


