//
// Header
// --------------------------------------------------
/**Header Part**/
.header-pan{
	position:relative;
	padding:0;

}

.main-navbar{
	border-radius:0;
	background: $black;
	border:none;
	margin:0;
	padding:5px 0 0 0;
	z-index: $zindex-navbar;
	@include transition(all .3s ease-in-out);
	
	
	
	&.navbar-fixed-top{
		background: rgba($black,.55);
		&.top-nav-collapse{
			background:rgba($black,.75);
		}
	}
	
	
	.navbar-brand{
		margin:5px 0 10px;
		@include text-hide();
		padding:0;
		height:auto;
		strong{
			@include text-hide();
		}
		&:focus{
			outline:none;
		}
	}
	
	.navbar-toggle{
	   background-color:lighten($red, 10%) !important;
		padding:10px 8px;
		.icon-bar{
			height:1px;
			width:20px;
			background-color:$white-color;
		}
		&.collapsed{
			background:none !important;
		}
		&:focus{
			background:none;
		}
		&:hover{
			background-color:lighten($red, 10%) !important;
		}
	}
	
	
	.top-right-nav{
		float:right;
		margin:0 0 7px 0;
		padding:0;
		
		li{
			display:block; 
			float:left;
			margin:0;
			padding:0 5px;
			font-weight:300;
			color:lighten($black, 45%);
			position:relative;
			
			&:after{
				content:"|";
				position:absolute;
				right:0;
				top:0;
				color:lighten($black, 45%);
			}
			
			&:last-child{
				&:after{
					display:none;
				}
			}
			
			span{
				margin-right:3px;
			}
			
			a{
				text-decoration:none;
				color:lighten($black, 45%);
				@include transition(all .2s ease-in-out);
				
				&:focus{
					color:$white-color;
					text-decoration: none;
					outline:none;
				}
					
			}
			
			&:hover>a,
			&.active>a,
			&.active>a:hover,
			&.open>a{
				@extend :focus; 
			}
			
		}
	
	}
	
	
	
	.nav.navbar-nav{
		padding:0;
		position:relative;
		
		font-size: ceil(($font-size-base * 1.7));
		font-weight:300;
		float:right;
		
		>li{
			padding:0;
			display:block;
			float:left;
			
			&:after{
				content:"|";
				position:absolute;
				left:-2px;
				top:1px;
				color:lighten($black, 63%);
				@include transition(all .2s ease-in-out);
				z-index:500;
			}
			
			.caret{
				display:none;
			}
			
			&.dropdown{
				position:static;
			}
			
			&:first-child{
				&:after{
					display:none;
				}
				a{
					
				}
			}
			
			&.app-download-link{
				margin-left:40px;
				margin-right:0;
				font-size: ceil(($font-size-base * 1.5));
				font-weight:400;
				
				&:after{
					display:none;
				}
				
				a{
					background:$red;
					padding:10px 52px 9px 25px;
					color:$white-color;
					
					strong{
						font-weight:700;
					}
					
					&:after{
						@include after();
						width:28px;
						height:28px;
						right:13px;
						top:7px;
					}
				}
			}
			
			>a{
				color:lighten($black, 63%);
				line-height:100%;
				padding:8px 20px;
				margin:0 -2px;
				position:relative;
				text-transform:uppercase;
				@include transition(all .2s ease-in-out);
				z-index:600;
				
				
				&:focus{
					color:$white-color;
					background:$red;
					text-decoration: none;
					outline:none;
				}
				
			}
			
			&:hover>a,
			&.active>a,
			&.active>a:hover,
			&.open>a{
				@extend :focus; 
				
				&:after{
					opacity:1;
				}
			}
		
		}
		
	}
	

}


/**Header Part End**/


