//
// How it work Page style
// --------------------------------------------------

/**How it work Page**/
.section{
	position:relative;
}
.how-it-work{
	width:100%;
	min-height:100vh;
	padding:200px 0 150px;
	text-align:center;
	position:relative;
	background:url(#{$imageUrl}/how-it-works-bg.jpg) no-repeat center;
	background-size:cover;
}
.text02{
	font-size: ceil(($font-size-base * 1.7));
	color:$white-color;
	margin:0 0 65px;
}
.heading02{
	color:$red;
	font-size: ceil(($font-size-base * 2.3));
	font-weight:300;
	margin:0 0 28px;
	
	span{
		display:block;
	}
}

.how-it-work-bottom-image{
	margin:0;
	padding:0;
	
	li{
		display:inline-block;
		margin:0 0 46px;
		padding:0 22px;
		
		a{
			display:block;
			border:1px solid $white-color;
			text-decoration:none;
			
			&:focus{
				outline:none;
			}
		}
	}
}

.video-container{
	margin:0;
	padding:0;
	
	iframe{
		width:100%;
		height:350px;
		margin:0;
		padding:0;
		display:block;
	}
}

.modal-content{
	border-radius:0;
}
.modal-body{
	padding:0;
}
.modal-header {
    border-bottom: medium none;
    padding: 10px 15px;
    text-align: left;
	
	.close{
		margin-top:1px;
		opacity:0.4;
		
		&:hover{
			opacity:1;
		}
	}
}
.modal-title{
	font-weight:300;
	color:$black;
	font-size: ceil(($font-size-base * 1.4));
	text-align:center;
	padding-right:10px;
	
	mark{
		color:$red;
		font-weight:bold;
		background:none;
	}
	a{
		color:$red;
		font-weight:bold;
		text-decoration:none;
		
		&:focus{
			text-decoration:underline;
			outline:none;
			color:$red;
		}
		
		&:hover{
			@extend :focus;
		}
	}
}


/**How it work Page End**/


