//
// Login popup style
// --------------------------------------------------

/*************Login popup**************/
.login-popup-inner{
	padding:30px 125px 0;
}

.login-box-pan{
	width:50%;
	float:left;
	padding:0 85px 10px 0;
}
.label02{
	color: lighten($black, 52%);
	font-size: ceil(($font-size-base * 1.05));
	display:block;
	margin:0 0 7px;
	font-weight:400;
}


.checkbox02{
	margin:0 0 20px;
	
	label{
		color: lighten($black, 52%);
		font-size: ceil(($font-size-base * 1.05));
	}
}

.or-text-part{
	position:absolute;
	width:1px;
	background:lighten($black, 77%);
	left:50%;
	top:30px;
	bottom:30px;
	
	span{
		width:32px;
		height:32px;
		text-align:center;
		border:1px solid lighten($black, 77%);
		border-radius:50%;
		background:$white-color;
		text-transform:uppercase;
		color: lighten($black, 52%);
		font-size: ceil(($font-size-base * 1.05));
		line-height:32px;
		position:absolute;
		top:50%;
		left:-15px;
		margin:-15px 0 0 0;
	}
}




.login-social-pan{
	@extend .login-box-pan;
	padding:0 0 10px 85px;
}

.popup-heading01{
	@extend .label02;
	margin:0 0 12px;
}

.social-login-list{
	margin:0 0 20px;
	padding:0;
	
	li{
		display:block;
		margin:0 0 15px;
		padding:0;
		
		a{
			display:block;
			padding:10px 10px 10px 56px;
			text-transform:uppercase;
			font-weight:700;
			color:$white-color;
			@include bgColor(#3b5998);
			position:relative;
			border-radius:2px;
			
			&:after{
				@include after();
				width:40px;
				height:100%;
				border-right:1px solid rgba($white-color, .3);
				top:0;
				left:0;
				border-radius:2px 0 2px 0;
				background-position:14px -29px;
				
			}
			
			&:focus{
				outline:none;
				text-decoration:none;
				color:$white-color;
			}
			&:hover{
				@extend :focus;
			}
		}
		
		&.google a{
			@include bgColor(#dd4b39);
			&:after{
				background-position:-21px -29px;
			}
		}
		
		&.twitter a{
			@include bgColor(#3a92c8);
			&:after{
				background-position:-59px -29px;
			}
		}
	}	
}



/*************Login popup end**************/


