//
// Question answer Page style
// --------------------------------------------------

/**Question answer Page**/
.question-answer-inner{
	background:$white-color;
	
}


.panel-group{
	
	.question-answer-panel{
		border:none;
		@include box-shadow(none);
		margin:0 0 38px 0;
		
		.panel-heading{
			padding:0;
			
			.panel-title{
				font-size: ceil(($font-size-base * 1.7));
				font-weight:400;
			}
			
			a{
				display:block;
				color:$white-color;
				padding:8px 25px;
				border:1px solid lighten(black, 47%);
				background:lighten(black, 30%);
				
				&:focus{
					text-decoration:none;
					outline:none;
				}
				&:hover{
					@extend :focus;
					color:$white-color;
					
				}
				&.collapsed{
					color:$black;
					background:none;
				}
			}
		}
		
		
		.panel-body{
			border:none !important;
			font-size: ceil(($font-size-base * 1.4));
			color:lighten(black, 42%);
			padding:20px 25px 15px;
		}
	}

}

#question-answer .bottom-arrow-button{
	background-color:rgba($black,.2);
	
	&:hover,
	&:focus{
		outline:none;
		background-color:rgba($black,.4);
	}
}


/**Question answer Page End**/


