//
// Register Page style
// --------------------------------------------------

/**Register Page**/
.community-inner-container{
	padding:60px 0 30px;
}

.label01{
	display:block;
	color:$black;
	margin:0 0 7px 0;
	font-size: ceil(($font-size-base * 1.05));
}

.captcha-image-box{
	margin:-8px 0 20px;
}

.checkbox01{
	margin:0 0 20px 0;
	color:$black;
	font-size: ceil(($font-size-base * 1.05));
	
	label{
		font-weight:700;
	}
	
	input[type="checkbox"]{
		margin-top:5px;
	}
}

.signup-btn{
	font-size: ceil(($font-size-base * 1.4));
	min-width:260px;
}

/**Register Page End**/


