//
// Responsive
// --------------------------------------------------
/****************Responsive part***********/

@media(min-width : $screen-sm-max) {

.main-navbar .dropdown:hover .dropdown-menu{
		display : block;
	}
	
	
}

@media (max-width: $screen-1920) {
	/************Home page************/
	.carousel-caption01{
		margin-top:30%;
	}
	.banner-heading01{
		font-size: ceil(($font-size-base * 10.8));
	}
	.banner-text-01{
		font-size: ceil(($font-size-base * 2.5));
	}
		
	.carousel-caption02{
		margin-top:12%;
	}
	.banner-heading02{
		margin:0 7% 30px;
		font-size: ceil(($font-size-base * 3.5));
		
		big{
			margin-left:14%;
			font-size: ceil(($font-size-base * 7.4));
		}
		
		span{
			margin:-10px 12% 0 14%;
			font-size: ceil(($font-size-base * 2.7));
		}
	}
	
	.banner-heading03{
		font-size: ceil(($font-size-base * 4.2));
		margin-bottom:40px;
		min-width:60%;
	}
	
	.banner-text-02{
		font-size: ceil(($font-size-base * 2));
		margin: 0 5%;
	}
		
	
	
	

}

@media (max-width: $screen-1600) {
	/************Home page************/
	.carousel-caption01{
		margin-top:24%;
	}
	.banner-heading01{
		font-size: ceil(($font-size-base * 9.2));
	}
	.banner-text-01{
		font-size: ceil(($font-size-base * 2.2));
		margin:0 10%;
	}
	
	
	
	.carousel-caption02{
		margin-top:10%;
	}	
	
	.banner-heading02{
		big{
			font-size: ceil(($font-size-base * 6.4));
		}
	}
	
	.banner-heading03{
		font-size: ceil(($font-size-base * 3.7));
		padding:14px 20px;
		
	}
	.banner-text-02 {
		font-size: ceil(($font-size-base * 1.8));
	}
	
	.bottom-arrow-button{
		bottom:40px;
	}
	
	
	/************The app***********/
	.copyright-text{
		margin-bottom:0;
	}




	

}

@media (max-width: $screen-1440) {
	/************Home page************/
	.carousel-caption01{
		margin-top:22%;
	}
	.banner-heading01{
		font-size: ceil(($font-size-base * 8.5));
	}
	
	
	.banner-heading02{
		font-size: ceil(($font-size-base * 3));
		
		big {
			font-size: ceil(($font-size-base * 5.7));
			margin-left: 12%;
		}
		span {
			font-size: ceil(($font-size-base * 2.4));
			margin: -10px 22% 0 12%;
		}
		
	}
	
	.banner-heading03{
		font-size: ceil(($font-size-base * 3.2));
		min-width:50%;
		margin-bottom:30px;
	}
	
	.banner-text-02{
		font-size: ceil(($font-size-base * 1.5));
	}








	
	
	

}

@media (max-width: $screen-1366) {
	/************Home page************/
	.carousel-caption01{
		margin-top:21%;
	}
	.banner-heading01{
		font-size: ceil(($font-size-base * 8));
	}
	.banner-text-01{
		font-size: ceil(($font-size-base * 2));
		margin:0 13%;
	}
	
	
	.carousel-caption02 {
		margin-top: 9%;
	}
	
	.banner-heading02{
		font-size: ceil(($font-size-base * 2.7));
		
		big {
			font-size: ceil(($font-size-base * 4.5));
			margin-left: 12%;
		}
		span {
			font-size: ceil(($font-size-base * 2));
			margin-right: 30%;
		}
		
	}
	
	.banner-heading03{
		font-size: ceil(($font-size-base * 2.5));
		min-width:50%;
		margin-bottom:30px;
	}
	
	.banner-text-02{
		font-size: ceil(($font-size-base * 1.3));
	}
	
	.bottom-arrow-button{
		bottom:30px;
		width:55px;
		height:55px;
		background-position:-36px 25px;
		margin-left:-27px;
	}
	
	
	/**********How it work**********/
	.how-it-work{
		padding:140px 0 100px;
	}
	
	.text02{
		margin-bottom:45px;
	}
	

}

@media (max-width: $screen-1280) {
	/************Home page************/
	.banner-heading01 {
		font-size: ceil(($font-size-base * 6.4));
	}
	
	
	

}


@media (max-width: $screen-md-max) {
	/***********Home page*************/
	.slider-container{
		height: 600px;
	}
	
	.leg-image{
		background-position:right center;
	}
	
	.main-navbar {
		.top-right-nav{
			margin-bottom:9px;
		}
		.nav.navbar-nav{
			font-size: ceil(($font-size-base * 1.3));
			
			>li{
				&:after{
					top:4px;
				}
				>a{
					padding:8px 16px;
				}
				&.app-download-link{
					margin-left:30px;
					font-size: ceil(($font-size-base * 1.15));
					a{
						padding-top:9px;
					}
				}
			}
		}
	}
	
	/**********How it work**********/
	.how-it-work{
		padding:110px 0;
		min-height:inherit;
	}
	
	.text02{
		font-size: ceil(($font-size-base * 1.4));
		margin-bottom:35px;
	}
	.heading02{
		font-size: ceil(($font-size-base * 2));
		margin-bottom:20px;
	}
	
	.how-it-work-bottom-image{
		li{
			width:40%;
			padding:0 15px;
			margin-bottom:30px;
		}
	}
	
	/***************About us**************/
	.top-black-bg{
		padding-top:69px;
	}
	.inner-top-gap{
		padding:70px 0 100px;
	}
	
	.heading03{
		font-size:ceil(($font-size-base * 3));
		margin-bottom:32px;
		
		span{
			padding:0 25px;
		}
	}
	
	.team-image-box{
		
		figcaption{
			font-size:ceil(($font-size-base * 1.4));
		}
	}
	
	.team-detail-text{
		font-size:ceil(($font-size-base * 1.1));
		line-height:1.6;
	}
	
	/******************Question answer**************/
	.panel-group{
		.question-answer-panel{
			margin-bottom:35px;
			
			.panel-heading{
				
				.panel-title{
					font-size:ceil(($font-size-base * 1.5));
				}
			}
			
			.panel-body{
				font-size: ceil(($font-size-base * 1.25));
				padding:20px 25px 5px;
			}
			
		}
	}
	
	/*****************App Download***************/
	.heading04{
		font-size: ceil(($font-size-base * 2));
	}
	.app-text-pan{
		margin-right:60px;
		
		p{
			font-size: ceil(($font-size-base * 1.57));
		}
	}
	
	.app-download-list{
		margin:0 0 90px 50px;
	}
	
	.device-pic {
		margin: -10px 0 90px -90px;
	}
	
	

	

}


@media (max-width: $screen-sm-max) {
	
	/***********Home page*************/
	.main-navbar{
		.navbar-brand{
			width:200px;
			margin-top:8px;
		}
		.top-right-nav{
			margin-bottom:6px;
		}
		.nav.navbar-nav{
			font-size: ceil(($font-size-base * 1.1));
			>li{
				&:after{
					top:6px;
				}
				>a{
					padding:8px 12px 7px;
				}
				
				&.app-download-link{
					font-size: ceil(($font-size-base * 1.05));
					margin-left:15px;
					a{
						padding:8px 42px 8px 12px;
						
						&:after{
							top:1px;
							right:6px;
						}
					}
				}
			}
		}
	}
	
	.slider-container{
		height: 480px;	
	}
	
	.banner-heading01{
		font-size: ceil(($font-size-base * 5.7));
		line-height:1;
	}
	.banner-text-01 {
		font-size: ceil(($font-size-base * 1.7));
		margin: 0 0;
	}
	
	.bottom-arrow-button {
		background-position: -41px 19px;
		bottom: 10px;
		height: 45px;
		width: 45px;
		margin-left:-22px;
	}
	
	
	.carousel-caption02{
		left:0;
		right:0;
	}
	.banner-heading02 {
		font-size: ceil(($font-size-base * 2.1));
		margin: 0 0 20px;
		line-height:1.1;
		
		big{
			margin-left:10%;
			font-size: ceil(($font-size-base * 3.9));
		}
		
		span {
			font-size: ceil(($font-size-base * 1.7));
			margin-left: 10%;
			margin-right: 30%;
			margin-top:-5px;
		}
	}
	
	.banner-heading03 {
		font-size: ceil(($font-size-base * 2.1));
		margin-bottom: 20px;
		min-width: 45%;
		padding:10px;
	}
	
	.banner-text-02{
		font-size: ceil(($font-size-base * 1.1));
		margin: 0;
	}
	
	/**********How it work**********/
	.how-it-work{
		padding:100px 0 90px;
	}
	
	.text02{
		font-size: ceil(($font-size-base * 1.25));
		margin-bottom:30px;
	}
	.heading02{
		font-size: ceil(($font-size-base * 1.7));
	}
	
	
	/***************About us**************/
	.top-black-bg{
		padding-top:63px;
	}
	.inner-top-gap{
		padding:40px 0 70px;
		min-height:inherit;
	}
	
	.heading03{
		font-size:ceil(($font-size-base * 2.2));
		margin-bottom:22px;
		
		span{
			padding:0 20px;
		}
	}
	
	.team-image-box{
		
		figcaption{
			font-size:ceil(($font-size-base * 1.2));
		}
	}
	
	.team-detail-text{
		font-size:ceil(($font-size-base * 1.05));
		line-height:1.5;
	}
	
	/******************Question answer**************/
	.panel-group{
		.question-answer-panel{
			margin-bottom:30px;
			
			.panel-heading{
				
				.panel-title{
					font-size:ceil(($font-size-base * 1.25));
					
					a{
						padding:8px 20px;
					}
				}
			}
			
			.panel-body{
				font-size: ceil(($font-size-base * 1.1));
				padding:15px 20px 5px;
			}
			
		}
	}
	
	
	/*****************App Download***************/
	.heading04{
		font-size: ceil(($font-size-base * 1.7));
	}
	.app-text-pan{
		margin:0 0 40px;
		
		p{
			font-size: ceil(($font-size-base * 1.28));
		}
	}
	
	
	.app-download-list{
		margin:0 0 50px 0;
		text-align:center;
	}
	
	.device-pic {
		margin: 0 0 50px;
	}
	
	/*************Register page*********/
	.community-inner-container {
		padding: 50px 0 20px;
	}
	
	/*************Login popup***********/
	.login-popup-inner{
		padding:20px 20px 0;
	}
	
	.login-box-pan{
		padding-right:40px;
	}
	.or-text-part{
		top:20px;
	}
	.login-social-pan{
		padding-left:40px;
		padding-right:0;
	}
	
	

}


@media (max-width: $screen-xs-max) {
	/********Home page*******/
	.bottom-arrow-button{
		display:none;
	}
	.slider-container{
		height: 450px;
	}
	.carousel-caption01,
	.carousel-caption02{
		position:relative;
		left:0;
		right:0;
		margin-top: 0;
    	padding: 80px 0 40px;
	}
	.carousel-caption01{
		padding-top:200px;
	}

	.banner-heading01{
		font-size: ceil(($font-size-base * 3.2));
	}
	.banner-text-01{
		font-size: ceil(($font-size-base * 1.2));
		line-height:1.2;
	}
	
	.banner-heading02 {
		font-size: ceil(($font-size-base * 1.8));
		margin: 0 0 15px;
		
		big{
			margin-left:0;
			font-size: ceil(($font-size-base * 3.2));
			text-align:center;
		}
		
		span {
			font-size: ceil(($font-size-base * 1.4));
			margin-left: 0;
			margin-right: 0;
		}
	}
	
	.banner-heading03 {
		font-size: ceil(($font-size-base * 1.6));
		margin-bottom: 15px;
		min-width: 45%;
		padding:5px 10px;
	}
	
	.banner-text-02{
		font-size: ceil(($font-size-base * 1.1));
		margin: 0;
	}
	
	
	.main-navbar{
		padding:0;
		
		.top-right-nav {
			float: none;
			margin: 6px 0;
			padding: 0;
			text-align:center;
			
			li{
				float:none;
				display:inline-block;
				padding:0 8px;
			}
		}
		
		.navbar-brand {
			margin-left: 15px;
			margin-top: 5px;
			width: 170px;
		}
		
		.navbar-collapse{
			border-color:$black;
			background:$black;
		}
		
		.nav.navbar-nav{
			float:none;
			
			>li{
				display:block;
				float:none;
				border-bottom:1px solid lighten($black, 30%);
				
				&:after{
					display:none;
				}
				
				&.app-download-link{
					margin:20px 0 0 0;
					
					a{
						padding-top:10px;
						padding-bottom:10px;
						text-align:center;
						
						&:after{
							top:4px;
						}
					}
				}
				
				>a{
					margin:0 0 -1px;
					padding:10px 15px 11px;
				}
			}
		}
	}
	
	
	/**********How it work**********/
	.how-it-work{
		padding:80px 0 20px;
	}
	
	.text02{
		font-size: ceil(($font-size-base * 1.1));
		margin-bottom:20px;
	}
	.heading02{
		font-size: ceil(($font-size-base * 1.2));
	}
	.how-it-work-bottom-image{
		li {
			margin: 0 -2px 10px;
			padding: 0 6px;
			width: 50%;
		}
	}
	
	.modal-header{
		padding:8px;
		
		.close {
			margin-top: -2px;
			opacity: 0.4;
		}
	}
	.modal-title{
		font-size: ceil(($font-size-base * 1.1));
	}
	
	.video-container{
		iframe{
			height:200px;
		}
	}
	
	/***************About us**************/
	.top-black-bg{
		padding-top:49px;
	}
	.inner-top-gap{
		padding:30px 0 0;
		min-height:inherit;
	}
	
	.about-inner-pan{
		.heading03{
			span{
				background:none;
			}
		}
	}
	
	.heading03{
		font-size:ceil(($font-size-base * 1.9));
		margin:0 0 28px;
		height:auto;
		background:none;
		
		span{
			padding:0;
			
			&:after{
				display:none;
			}
		}
	}
	
	.team-image-box{
		
		max-width:320px;
		margin:0 auto 15px;
		
		figcaption{
			font-size:ceil(($font-size-base * 1.2));
		}
	}
	
	.team-detail-text{
		margin-bottom:35px;
	}
	
	
	/******************Question answer**************/
	.panel-group{
		.question-answer-panel{
			
			.panel-heading{
				
				.panel-title{
					font-size:ceil(($font-size-base * 1.2));
					
					a{
						padding:8px 15px;
					}
				}
			}
			
			.panel-body{
				font-size: ceil(($font-size-base * 1.05));
				padding:10px 15px 5px;
			}
			
		}
	}
	
	
	/*****************App Download***************/
	#app-download{
		min-height:100vh;
	}
	.heading04{
		font-size: ceil(($font-size-base * 1.4));
	}
	.app-text-pan{
		margin:0 0 30px;
		
		p{
			font-size: ceil(($font-size-base * 1.1));
		}
	}
	
	
	.app-download-list{
		margin:0 0 40px 0;
		text-align:center;
		
		li{
			width:40%;
		}
	}
	
	.copyright-text{
		font-size: ceil(($font-size-base * .8));
		margin-bottom:30px;
	}
	
	
	/*************Register page*********/
	.community-inner-container {
		padding: 30px 0 10px;
		
		.heading03{
			margin-bottom:20px;
		}
	}
	
	
	/*************Login popup***********/
	.login-box-pan{
		width:100%;
		padding:0;
		float:none;
	}
	
	.or-text-part{
		width:100%;
		height:1px;
		margin:30px 0;
		position:relative;
		left:inherit;
		top:inherit;
		bottom:inherit;
		
		span{
			left:50%;
			margin-left:-15px;
		}
	}
	
	
	
	
	
	

}




