//
// Variables
// --------------------------------------------------


// Colors part

//Gray color shade.
$black:              	            #000;


//Red color
$red:                                #ff0000 !default;

// White color
$white-color:                        #fff;




// Typography
$primary-font:                       "Roboto Condensed", sans-serif;


//Image path
$imageUrl:                           '../images';


// Screen width
$screen-1920:                  1920px;
$screen-1600:                  1600px;
$screen-1440:                  1440px;
$screen-1366:                  1366px;
$screen-1280:                  1280px;









